<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faydaları</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <header>
        <h1>Bisiklet Sürmeye Teşvik</h1>
        <nav>
            <ul>
                <li><a href="/">Ana Sayfa</a></li>
                <li><a href="/about">Hakkında</a></li>
                <li><a href="/benefits">Faydaları</a></li>
                <li><a href="/events">Etkinlikler</a></li>
                <li><a href="/contact">İletişim</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bisiklet Sürmenin Faydaları</h2>
        <ul>
            <li>Kalp sağlığını iyileştirir.</li>
            <li>Stresi azaltır.</li>
            <li>Çevre dostudur.</li>
            <li>Kasları güçlendirir.</li>
            <li>Fiziksel dayanıklılığı artırır.</li>
            <li>Ayrıca iklim değişiliğini azaltıp yok eder.</li>
        </ul>
    </main>

    
</body>
</html>