<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etkinlikler</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>
    <header>
        <h1>Bisiklet Sürmeye Teşvik</h1>
        <nav>
            <ul>
                <li><a href="/">Ana Sayfa</a></li>
                <li><a href="/about">Hakkında</a></li>
                <li><a href="/benefits">Faydaları</a></li>
                <li><a href="/events">Etkinlikler</a></li>
                <li><a href="/contact">İletişim</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Yaklaşan Etkinlikler</h2>
        <ul>
        <li><p>Yerel bisiklet etkinlikleri hakkında bilgi almak için lütfen yerel bisiklet kulüplerinin web sitelerini kontrol edin.</p></li>
            <li><p>1 Şubat 2025: Grand Prix Antalya – Antalya</p></li>
                <li><p>2 Şubat 2025: Uluslararası Alanya Castle Criterium – Antalya</p></li>
                    <li><p>8 Şubat 2025: Grand Prix Aspendos – Antalya</p></li>
                        <li><p>9 Şubat 2025: Uluslararası Cleopatra Beach Criterium – Antalya</p></li>
                            <li><p>14-16 Şubat 2025: Tour of Pedalia – Antalya</p></li>
                                <li><p>22 Mart 2025: Uluslararası Apollon Temple – Antalya</p></li>
                                    <li><p>23 Mart 2025: Grand Prix Apollon Temple – Antalya</p></li>
                                        <li><p>5 Nisan 2025: Uluslararası Gazipaşa Criterium – Antalya</p></li>
                                            <li><p>6 Nisan 2025: Grand Prix Syedra Ancient City – Antalya</p></li>
                                                <li><p>10-13 Nisan 2025: Tour of Mersin – Mersin</p></li>
                                                    <li><p>27 Nisan - 4 Mayıs 2025: 60. Cumhurbaşkanlığı Türkiye Bisiklet Turu – Antalya'dan İzmir'e </p></li>
                                                        <li><p>5 Temmuz 2025: Grand Prix Kahramanmaraş – Kahramanmaraş</p></li>
                                                            <li><p>6 Temmuz 2025: Grand Prix Edebiyat Yolu – Kahramanmaraş</p></li>
                                                                <li><p>10-13 Temmuz 2025: Tour of Ankara – Ankara</p></li>
                                                                    <li><p>24 Ağustos 2025: Grand Prix Çankırı – Çankırı</p></li>
                                                                        <li><p>27-30 Ağustos 2025: Tour of Route Salvation – Ankara'dan Samsun'a</p>
                                                                            <li><p>4-7 Eylül 2025: Tour of İstanbul – İstanbul</p></li>
                                                                        </ul>
    </main>

    
</body>
</html>