<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisiklet Sürmeye Teşvik</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>
    <header>
        <h1>Bisiklet Sürmeye Teşvik</h1>
        <nav>
            <ul>
                <li><a href="/">Ana Sayfa</a></li>
                <li><a href="/about">Hakkında</a></li>
                <li><a href="/benefits">Faydaları</a></li>
                <li><a href="/events">Etkinlikler</a></li>
                <li><a href="/contact">İletişim</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bisiklet Sürmenin Keyfi</h2>
        <p>Bisiklet sürmek, hem fiziksel hem de ruhsal anlamda insanı özgürleştiren eşsiz bir deneyimdir.
            Yalnız başına yapılan bir yolculukta rüzgârın yüzüne çarpması, doğayla iç içe olmanın verdiği huzur ve pedalları çevirirken hissedilen ritmik uyum, bu aktiviteyi benzersiz kılan unsurlardandır. 
            Şehirde ya da doğada, asfalt yollarda ya da toprak patikalarda olsun,
            bisiklet sürmek sadece bir ulaşım aracı kullanmaktan çok daha fazlasıdır.
            </p>
    </main>

    
</body>
</html>