body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
    
}



  header {
    font-family: serif;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    color: #b6b6b6; /* Yazı rengi */
    padding: 10px 0; /* Üst ve alt boşluk */
    text-align: center; /* Ortala */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f4eded;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #b47474;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ff0000;
    color: #753838;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}


